<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autodesk.Revit.SDK" version="2020.2.1.2001" targetFramework="net48" />
  <package id="Autodesk.Revit.Sdk.Refs.2020" version="1.1.1" targetFramework="net48" />
  <package id="Revit.RevitApiUI.x64" version="2020.0.0" targetFramework="net48" />
  <package id="Revit_API_x64" version="2020.0.0" targetFramework="net48" />
  <package id="Tools.InnoSetup" version="6.2.1" targetFramework="net48" />
</packages>